* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    background: black;
    border-radius: 18px;
    padding: 32px 0;
}

header {
    background-color: gray;
    height: 48px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-gui:hover {
    cursor: pointer;
}

.to-songs {
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.to-player {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.player {
    display: inherit ;
    margin: auto;
    width: 90%;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 32px;
}

.player-controls {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.song-duration {
    width: 55%;
    height: 20px;
    margin: 10px auto;
}

.duration-bar {
    width: 100%;
    height: 8px;
    margin: 8px auto;
    background-color: gold;
}

.song-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second-row {
    width: 100%;
    display: flex;
}

.player-controls img {
    margin: auto;
}

.play-btn {
    height: 50px;
}

.library {
    display: inherit;
    margin: auto;
    width: 90%;
    background-color: grey;
    color: white;
    text-align: center;
}

.library-list {
    width: 100%;
    margin: auto;
    list-style: none;
    padding: 0;
}

.library-item {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 70px;
    align-items: center;
    padding: 12px;
}

.library-item:hover {
    cursor: pointer;
}

.library-art {
    height: 100%;
}