* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    background: black;
    border-radius: 18px;
    padding: 32px 0;
}

header {
    background-color: aqua;
    height: 48px;
    width: 90%;
    margin: 0 auto;
}

.player {
    display: inherit ;
    margin: auto;
    width: 90%;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 32px;
}

.player-controls {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    background-color: yellow;
}

.player-controls img {
    margin: auto;
}

.play-btn {
    
}

.library {
    display: none;
    margin: auto;
    width: 90%;
    background-color: grey;
    color: white;
    text-align: center;
}

.library-list {
    width: 100%;
    margin: auto;
    list-style: none;
    padding: 0;
}

.library-item {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 70px;
    align-items: center;
    padding: 12px;
}

.library-item:hover {
    cursor: pointer;
}

.library-art {
    height: 100%;
}