* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.library-list {
    list-style: none;
    padding: 0;
}

.library-item {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 70px;
    align-items: center;
    padding: 12px;
}

.library-item:hover {
    cursor: pointer;
}

.library-art {
    height: 100%;
}

.add-to-playlist {
    height: 80%;
    margin-right: 0;
    margin-left: auto;
}